@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="pojistak-section-light">
    <div class="container py-2">
        <h2 class="w-100 pb-4">Články</h2>
        <div class="row gy-4">
            <!-- gx-0 = žádné horizontální mezery, gy-1 = vertikální mezery -->

            <div class="col-12 col-md-6 col-lg-4">
                <div class="article-wrapper h-100 d-flex flex-column">
                    <div class="pojistak-section-dark d-flex flex-column h-100">
                        <h4>Jak založit nového pojištěnce?</h4>
                        <p>V tomto článku se dozvíte, jak snadno a rychle založit nového pojištěnce v systému Pojišťák.NET.</p>
                        <div class="article-button mt-auto ms-auto">
                            <a href="..." class="btn btn-outline-secondary">Číst více</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="article-wrapper h-100 d-flex flex-column">
                    <div class="pojistak-section-dark d-flex flex-column h-100">
                        <h4>Správa pojištění v Pojišťák.NET</h4>
                        <p>Zjistěte, jak efektivně spravovat pojištění svých klientů pomocí našeho systému.</p>
                        <div class="article-button mt-auto ms-auto">
                            <a href="..." class="btn btn-outline-secondary">Číst více</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="article-wrapper h-100 d-flex flex-column">
                    <div class="pojistak-section-dark d-flex flex-column h-100">
                        <h4>Nejčastější dotazy</h4>
                        <p>Odpovědi na nejčastější dotazy týkající se používání Pojišťák.NET.</p>
                        <div class="article-button mt-auto ms-auto">
                            <a href="..." class="btn btn-outline-secondary">Číst více</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>