@model PojistakNET.Models.LoginViewModel
@{
    ViewData["Title"] = "Přihlášení";
}

<h2>Přihlášení</h2>

<div class="container vh-50 d-flex justify-content-center align-items-center">
    <form asp-action="login" method="post" class="w-100" style="max-width: 400px;">
        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Přihlásit se</button>
        <div class="mt-3">
            <a asp-action="register">Nemáte účet? Zaregistrujte se zde.</a>
        </div>
        <div class="mt-3">
            <a asp-action="forgotPassword">Zapomněli jste heslo?</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
