@{
    ViewData["Title"] = "O nás";
}
<div class="lh-lg">
    <h2>O nás</h2>

    <p>Vítejte na <strong>Pojišťák.NET</strong> – moderní webové aplikaci určené pro jednoduchou správu a přehled všech vašich pojištění. Naším cílem je zpřehlednit a zjednodušit komunikaci mezi pojištěnci a pojišťovnami, aby každý měl své smlouvy snadno pod kontrolou.</p>

    <h3>Pojišťák.NET se zaměřuje na:</h3>
    <ul>
        <li><strong>Komplexní evidenci pojištění</strong> – od životních přes majetková až po specializovaná pojištění.</li>
        <li><strong>Přehlednost a snadnou orientaci</strong> v jednotlivých smlouvách i platbách.</li>
        <li><strong>Bezpečnost dat</strong> a zajištění důvěrnosti vašich informací.</li>
        <li><strong>Rychlou a intuitivní správu smluv</strong> a možností jejich editace či vyhledávání.</li>
    </ul>

    <p>Naše aplikace je navržena tak, aby usnadnila život nejen pojištěncům, ale i pracovníkům pojišťoven a agentům, kteří chtějí mít vždy aktuální přehled o smlouvách.</p>

    <p>Děkujeme, že nám důvěřujete.</p>

</div>