@model X.PagedList.IPagedList<PojistakNET.Models.Insurer>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Stránka je ve vývoji";
}

<h2>Vítá Vás Pojišťák.NET</h2>

<div class="row">
    <div class="col-6">
 @*     <p>Pojišťák si někde zapomněl klíče a nemůže se dostat do svého bytu.</p>
        <p>Pojišťák si zapomněl složenku s hesly a nemůže se přihlásit.</p>
        Pojišťák si na chvíli odskočil, ale brzy se vrátí. *@  
        <h3>Probíhá rekonstrukce aplikace</h3>
        <p>Pojišťák nyní pracuje na kompletní úpravě systému. Některé funkce, jako přihlášení a registrace, zatím nejsou dostupné.</p>
        <p>Základní práce s pojištěnci už ale funguje – můžete přidávat nové záznamy a přiřazovat pojištění.</p>
    </div>
    <div class="col-6 pojistak-mainImage-container">
        <img src="~/img/UnderDevelopment.png" alt="Pojišťák"/>
        <p>Pojišťák si na chvíli odskočil, ale brzy se vrátí.</p>
    </div>
</div>